<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Form Design <small>different form elements</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form class="form-horizontal form-label-left" name="form" role="form" method="POST" ng-submit="save()">
                            <div class="form-group" ng-class="{'has-error': !form.name.$valid && form.name.$touched}">
                                <label class="col-md-3 control-label">Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control col-md-7 col-xs-12" name="name" ng-model="client.name" required>
                                    <div ng-messages="form.name.$error" class="help-block" ng-show="form.name.$touched">
                                        <div ng-message="required">Campo Obrigatório</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"  ng-class="{'has-error': !form.responsible.$valid && form.responsible.$touched}">
                                <label class="col-md-3 control-label">Responsible</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control  col-md-7 col-xs-12" name="responsible" ng-model="client.responsible" required>
                                    <div ng-messages="form.responsible.$error" class="help-block" ng-show="form.responsible.$touched">
                                        <div ng-message="required">Campo Obrigatório</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"  ng-class="{'has-error': !form.email.$valid && form.email.$touched}">
                                <label class="col-md-3 control-label">Email</label>
                                <div class="col-md-6">
                                    <input type="email" class="form-control  col-md-7 col-xs-12" name="email" ng-model="client.email" required>
                                    <div ng-messages="form.email.$error" class="help-block" ng-show="form.email.$touched">
                                        <div ng-message="required">Campo Obrigatório</div>
                                        <div ng-message="email">Email inválido</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"  ng-class="{'has-error': !form.phone.$valid && form.phone.$touched}">
                                <label class="col-md-3 control-label">Phone</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control  col-md-7 col-xs-12" name="phone" ng-model="client.phone" required>
                                    <div ng-messages="form.phone.$error" class="help-block" ng-show="form.phone.$touched">
                                        <div ng-message="required">Campo Obrigatório</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"  ng-class="{'has-error': !form.address.$valid && form.address.$touched}">
                                <label class="col-md-3 control-label">Address</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control col-md-7 col-xs-12" name="address" ng-model="client.address" required>
                                    <div ng-messages="form.address.$error" class="help-block" ng-show="form.address.$touched">
                                        <div ng-message="required">Campo Obrigatório</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"  ng-class="{'has-error': !form.obs.$valid && form.obs.$touched}">
                                <label class="col-md-3 control-label">Obs</label>
                                <div class="col-md-6">
                                    <textarea class="form-control col-md-7 col-xs-12" name="obs" ng-model="client.obs" required></textarea>
                                    <div ng-messages="form.obs.$error" class="help-block" ng-show="form.obs.$touched">
                                        <div ng-message="required">Campo Obrigatório</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>